<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sample Application</h3>
        </div>
  
        <ul class="list-unstyled components">
            <!-- <p>Dummy Heading</p> -->
            <li class="active">
                <a [routerLink] = "['/dashboard']">DASHBOARD</a>
            </li>
            <li>
                <a [routerLink] = "['/details']">DETAILS</a>
            </li>
        </ul>
    </nav>
  
  
    <!-- Page Content -->
    <div id="content" class="content">
      <!-- We'll fill this with dummy content -->
      <router-outlet></router-outlet>
    </div>
  
</div>
  